*{
    margin:0;
    padding:0;
    border:0;
}
input, textarea {
  background-color : #d1d1d1;
}
body{
    background-color:#fffffa;
}
.container {
    margin-right: auto;
    margin-left: auto;
    background-color:#fffffa;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    &-body{
        flex:1;
        display: flex;
    }
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}
