@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
@import "scss/base";
@import "scss/header";
.container{
  padding-bottom:10vh;
}
.cnvs{
    position: absolute;
    top: 0;
    left: 0;
  }
  .stretch{
  
    height: 100%;
    width:100%;
  }


input{
    background-color : #d1d1d1;
  }
  .tt{
    background-size:cover;
    width:100%;
  }